<h4 class="page-header center">Editează profil</h4>
<hr>
  <app-info-general></app-info-general>
  <my-upload></my-upload>
  <app-tags></app-tags>
  <app-change-password></app-change-password>
  <app-change-email></app-change-email>
