<ul id="tabs" class="tabs">
  <li class="tab"><a class="active" href="#tab-1">Notificări</a></li>
  <li class="tab"><a href="#tab-2" (click)="load_activites()">Activitatea mea</a></li>
</ul>

    <div id="tab-2" class="notifications">

        <div *ngFor="let activite of activites" class="notification">
            <div class="round-image">
                <img src="/assets/images/{{activite.type}}.png" alt="">
            </div>
            <div class="details">
                <p class="title">{{ activite.title }}</p>
                <div class="added">
                    <i class="material-icons">date_range</i>
                    <span class="date">
                        {{ activite.date | date: 'short' }}
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div id="tab-1" class="notifications">
       
        <div *ngFor="let notification of notifications" class="notification">
            <div class="round-image">
                <img src="/assets/images/{{notification.type}}.png" alt="">
            </div>
            <div class="details">
                <p class="title">{{ notification.title }}</p>
                <div class="added">
                    <i class="material-icons">date_range</i>
                    &nbsp;
                    <span class="date">
                        {{ notification.date | date: 'short' }}
                    </span>
                </div>
            </div>
        </div>

    </div>