.items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 22%;
}

@media screen and (max-width: 992px) {
  .card {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 512px) {
  .card {
    width: 100%;
  }
}
