<h5 class="page-header center">Schimbă email</h5>
<div class="col s12 z-depth-4 card-panel">
<div class="row">
  <form (submit)="onChangeEmail()" class="col s12">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock_open</i>
        <input id="icon_telephone" type="password" [(ngModel)]="currentpassword" name="currentpassword" class="form-control validate">
        <label for="icon_telephone">Parola actuală</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">mail</i>
        <input id="mail" type="email" [(ngModel)]="newemail" name="newemail" class="form-control validate">
        <label for="main">Introduceți noua adresă de e-mail</label>
      </div>

      <div class="input-field col s6 center" >
        <input type="submit" class="btn btn-primary" value="Submit" [disabled]="!valid">
      </div>

  </form>
</div>
</div>
