<h5 class="page-header center">Schimbă parola</h5>
<div class="col s12 z-depth-4 card-panel">
<div class="row">
  <form (submit)="onChangePassword()" class="col s12">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock_open</i>
        <input id="icon_telephone" type="password" [(ngModel)]="old" name="old" class="form-control validate">
        <label for="icon_telephone">Introduceți parola actuală</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">lock_outline</i>
        <input id="icon_telephone" type="password" [(ngModel)]="password" name="password" class="form-control validate">
        <label for="icon_telephone">Parola nouă</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <input id="icon_telephone" type="password" [(ngModel)]="repeat" name="repeat" class="form-control validate">
        <label for="icon_telephone">Repetați parola nouă</label>
      </div>

      <div class="input-field col s6 center" >
        <input type="submit" class="btn btn-primary" value="Submit" [disabled]="!valid">
      </div>

  </form>
</div>
</div>
