::-webkit-input-placeholder {
  color: #d1d1d1;
}
:-moz-placeholder {
  color: #d1d1d1;
}
::-moz-placeholder {
  color: #d1d1d1;
}
:-ms-input-placeholder {
  color: #d1d1d1;
}
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  transition: .28s ease;
  -khtml-user-select: none;
  user-select: none;
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after {
  border-radius: 50%;
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after {
  border: 2px solid #5a5a5a;
}
[type="radio"]:not(:checked) + label:after {
  transform: scale(0);
}
[type="radio"]:disabled:not(:checked) + label:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.26);
}
[type="radio"]:disabled:not(:checked) + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
[type="checkbox"]:not(:checked):disabled + label:before {
  border: none;
  background-color: rgba(0, 0, 0, 0.26);
}
[type="checkbox"].filled-in:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%;
}
[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 0px;
  z-index: 0;
}
[type="checkbox"].filled-in:disabled:not(:checked) + label:before {
  background-color: transparent;
  border: 2px solid transparent;
}
[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: #BDBDBD;
}
input[type=checkbox]:checked:not(:disabled) ~ .dd:active::after,
input[type=checkbox]:checked:not(:disabled).ed:focus ~ .dd::after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
    0 0 0 15px rgba(38, 166, 154, 0.1);
}
input[type=checkbox]:not(:disabled) ~ .dd:active:after,
input[type=checkbox]:not(:disabled).ed:focus ~ .dd::after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08);
} /*!
* Default mobile-first, responsive styling for pickadate.js
* Demo: http://amsul.hz.io/pickadate.js
*/
body, html {
  height: 100%;
}
body {
  background-color: #000;
  color: #eee;
}
@media only screen and (min-width: 993px) {
  .dv {
    width: 80%;
  }
}
h5 {
  font-size: .9rem;
  font-weight: 500;
  text-transform: uppercase;
}
p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
}
.page-footer {
  color: #444;
  padding: 40px 0;
  margin: 0;
}
.page-footer .c {
  margin: 0;
}
.page-footer .materialize-logo {
  margin-top: 2px;
}
.page-footer p {
  margin: 5px 0;
}
.page-footer ul li {
  margin-bottom: 5px;
}
.page-footer ul li a, .page-footer p {
  color: #aaa;
  font-size: .8rem;
  font-weight: 300;
  margin: 5px 0;
}
