<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><span id="logo">Matcha</span></a>
    <a href="#" materialize="sideNav" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/']">Acasă</a></li>
      <li *ngIf="authService.loggedIn()"[routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/browse']"><i class="material-icons">view_module</i></a></li>
      <li *ngIf="authService.loggedIn()"[routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a (click)="reset_messages()" [routerLink]="['/chat']"><i class="material-icons">chat</i></a><span *ngIf="messages" class="notification-badge">{{ messages }}</span></li>
      <li *ngIf="authService.loggedIn()"><a (click)="reset_notifications()" [routerLink]="['/notifications']"><i class="material-icons">notifications</i></a><span *ngIf="notifications" class="notification-badge">{{ notifications }}</span></li>
      <li *ngIf="authService.loggedIn()"><a materialize="dropdown" class='dropdown-button' href='#' data-activates='menu'><i class="material-icons">more_vert</i></a></li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/login']">Autentificare</a></li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/register']">Înregistrare</a></li>
      <ul id='menu' class='dropdown-content'>
       <li><a routerLink='/settings'>Setări</a></li>
       <li><a (click)="onLogoutClick()">Log out</a></li>
      </ul>
    </ul>
    <ul materialize="sideNav" class="side-nav" id="mobile-demo">
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/']">Acasă</a></li>
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/browse']">Explorează</a></li>
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a (click)="reset_messages()" [routerLink]="['/chat']">Mesaje <span *ngIf="messages">[ {{ messages }} ]</span></a></li>
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a (click)="reset_notifications()" [routerLink]="['/notifications']">Notificari <span *ngIf="notifications">[ {{ notifications }} ]</span></a></li>
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/settings']">Setări</a></li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/login']">Autentificare</a></li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/register']">Înregistrare</a></li>
      <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()">Log out</a></li>
    </ul>
  </div>
</nav>
