<h5 class="page-header center">Editează galerie</h5>
  <div class="col s12 z-depth-4 card-panel">
    <div *ngIf="countrent && user" class="gallery">
      <div *ngFor="let url of imageURLs" class="ph">
        <img [src]="url" class="image" style="width:100%">
        <div class="middle">
          <button *ngIf="url != user.photo" (click)="setAsProfile(url)" class="btn blue">Profilizează</button>
          <br><br>
          <button (click)="delete(url)" class="btn red">Șterge</button>
        </div>
      </div>
    </div>

<div class="row">
    <div *ngIf="countrent < 5" ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="well my-drop-zone">
         <i class="material-icons prefix large">cloud_upload</i>
        <h6>Trageți pozele aici</h6>
        <form enctype='multipart/form-data'>
            <div width="80%" class="file-field input-field">
              <div class="btn">
                <span>Selectează pozele</span>
                <input type="file" accept="image/*" ng2FileSelect [uploader]="uploader">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Alegeți o poza">
              </div>
            </div>
        </form>
    </div>
    <div *ngIf="uploader.progress && uploader.progress!=100" class="progress">
        <div class="determinate" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
    <!--<div class="col s8">
        <h5>Mai puteți încărca {{ 5 - countrent }} poze</h5>
        <table class="table">
            <thead>
            <tr>
                <th width="50%">Nume</th>
                <th>Mărime</th>
                <th>Progres</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item.file.name }}</strong></td>
                <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                <td>
                    <div class="progress">
                        <div class="determinate" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="material-icons">done</i></span>
                    <span *ngIf="item.isCancel"><i class="material-icons">not_interested</i></span>
                    <span *ngIf="item.isError"><i class="material-icons">error</i></span>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <div>
                Bară de progres
                <div class="progress">
                    <div class="determinate" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>

            <button class="btn waves-effect waves-light" (click)="uploader.uploadAll()" [disabled]="5 < uploader?.queue?.length || !uploader.getNotUploadedItems().length">
              Încarcă toate <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              Șterge toate <i class="material-icons right">delete</i>
            </button>
        </div>
    </div>-->
  </div>
</div>
