.my-drop-zone {
  width: 100%;
  height: 200px;
  padding: 10px;
  text-align: center;
  border: 3px dashed #ccc;
}
.nv-file-over {
  border: dotted 3px green;
}

.ph {
  position: relative;
  width: 45%;
  padding: 5px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.ph:hover .image {
  opacity: 0.3;
}

.ph:hover .middle {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .ph {
    width: 100%;
    padding-top: 2px;
  }
}
