.alone {
    width: 100%;
    text-align: center;
}

.alone img {
    width: 30%;
    margin: auto;
}

.users {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.user {
    width: 30%;
}

@media (max-width: 876px) {
    .user {
        width: 45%;
    }
}

@media (max-width: 596px) {
    .user {
        width: 100%;
        text-align: center;
    }
}

.square {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.user img {
    height: 100%;
    width: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.user img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
