<div *ngIf="loading" class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
</div>

<div class="users" *ngIf="!loading && chaters && chaters.length; else forever_alone">
   <div *ngFor="let chater of chaters" class="user" [routerLink]="['t/'+chater._id]">
    <div class="square">
        <!-- <img [src]="chater.photo" alt="">  -->
       <img src="/assets/images/alone.png" alt=""> 
    </div>
       
       <h5>{{chater.firstname}} {{chater.lastname}}</h5>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam optio illum, ducimus numquam! Veritatis tenetur vel placeat consequatur, laudantium, aperiam quae et porro iste inventore quas delectus hic expedita harum.</p>
   </div>
</div>

<ng-template #forever_alone>
    <div class="alone">
        <img src="./assets/images/alone.png" alt="">
        <p>Nu renunța.. sigur există și pentru tine o jumătate. Click <a [routerLink]="['/browse']">aici</a> ca să explorezi.</p>
    </div>
</ng-template>
